<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="../../../public/styles.css">
</head>
<body>

    {% include 'header.html' %}
    
    <h1 class="text-yellow-400 uppercase bg-red-500 h-1">
        Pagina para editar la información
    </h1>

    <p>El ID es: {{ id }}</p>

    {% include 'footer.html' %}
</body>
</html>