<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <link href="{{ asset('http://mvc.test/public/css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

        <nav class="bg-yellow-200">
            <ul>
                <li>Home</li>
                <li>Nosotros</li>
            </ul>
        </nav>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>